<div id="header-wrapper" ng-include="'views/common/header.html'" class="animated fadeInDown"></div>
<div id="footer-wrapper" ng-include="'views/common/footer.html'" class="animated fadeInUp"></div>
<div class="page-content animated fadeInRight" id="home" ng-controller="HomeCtrl as controller" ng-non-bindable>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" id="home-slide-1">
            </div>
        </div>

        <!-- Controls -->
<!--
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
-->
    </div>
</div>