

<!-- size:contain version
<div class="vertical-center-container full-height" ng-click="">
    <a class="responsive-container vertical-center-content" style="display:block;" href="#/home">
        <canvas width=1920 height=1080></canvas>
        <div class="responsive-content">
            <video width="100%" height="100%" autoplay preload=auto>
                <source src="assets/video/Alpina Website Intro.mp4" type="video/mp4">
                <source src="assets/video/Alpina Website Intro.ogg" type="video/ogg">
                <source src="assets/video/Alpina Website Intro.webm" type="video/webm">
            </video>
        </div>
    </a>
</div>
-->


<!-- size:cover version -->
<div class="full-height" style="position:relative;" ng-controller="IntroCtrl as controller">
    <a class="full-height" style="position:relative; display:block;" id="background-video" href="#/home">
    </a>
</div>
