<ul id="sidebar-nav" class="animated fadeInLeft">
    <li class="sidebar-brand">
        <a href="#">
            <img src='img/nav_logo@2x.png' class='img-responsive'>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.home">
            HOME
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.project">
            THE PROJECT
            <div class='underline'></div>
        </a>
        
        <ul>
            <li ui-sref-active="active">
                <a ui-sref="index.project.overview">
                    overview
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.project.floorplan">
                    floorplan
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.project.gallery">
                    gallery
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.location">
            LOCATION
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.register">
            REGISTRATION
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.contact">
            CONTACT US
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.ebrochure">
            E BROCHURE
            <div class='underline'></div>
        </a>
    </li>
</ul>