<ul id="sidebar-nav" class="animated fadeInLeft">
    <li class="sidebar-brand">
        <a href="#">
            <img src='img/nav_logo@2x.png' class='img-responsive'>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.home">
            HOME
            <div class='underline'></div>
        </a>
    </li>
    <li ng-class="{active: $state.includes('index.project')}">
        <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            THE PROJECT
            <div class='underline'></div>
        </a>
        
        <ul class="collapse" id="collapseExample">
            <li ui-sref-active="active">
                <a ui-sref="index.project.overview">
                    overview
                    <div class='underline'></div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.project.floorplan">
                    floorplan
                    <div class='underline'></div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a>
                    specification
                    <div class='underline'></div>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.location">
            LOCATION
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.register">
            REGISTRATION
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.contact">
            CONTACT US
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            E BROCHURE
            <div class='underline'></div>
        </a>
    </li>
</ul>